<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>image</key>
			<string>angelababy</string>
			<key>name</key>
			<string>Angelababy 杨颖</string>
		</dict>
		<dict>
			<key>image</key>
			<string>andy</string>
			<key>name</key>
			<string>Andy 刘德华</string>
		</dict>
		<dict>
			<key>image</key>
			<string>alice</string>
			<key>name</key>
			<string>Alice</string>
		</dict>
		<dict>
			<key>image</key>
			<string>apple</string>
			<key>name</key>
			<string>Apple</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>name</key>
			<string>Blibli</string>
			<key>image</key>
			<string>blibli</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Boss老板</string>
			<key>image</key>
			<string>boss</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Boxter</string>
			<key>image</key>
			<string>boxter</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Big Bang</string>
			<key>image</key>
			<string>bigbang</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>name</key>
			<string>Cindy</string>
			<key>image</key>
			<string>cindy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C罗</string>
			<key>image</key>
			<string>C罗</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>name</key>
			<string>DJ</string>
			<key>image</key>
			<string>dj</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dojo</string>
			<key>image</key>
			<string>dojo</string>
		</dict>
	</array>
	<key>E</key>
	<array>
		<dict>
			<key>name</key>
			<string>Elizabeth伊丽莎白</string>
			<key>image</key>
			<string>elizabeth</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Exo</string>
			<key>image</key>
			<string>exo</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>name</key>
			<string>范冰冰</string>
			<key>image</key>
			<string>范冰冰</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>name</key>
			<string>George Washington</string>
			<key>image</key>
			<string>george</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>name</key>
			<string>麦当娜</string>
			<key>image</key>
			<string>麦当娜</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Marilyn Monroe</string>
			<key>image</key>
			<string>MarilynMonroe</string>
		</dict>
	</array>
</dict>
</plist>
